<script id='dashboard' type='text/html'>
    <div id="left" class="col-sm-7 col-sm-push-1">
        <h1 class="title">Welcome {{username}} <small>Click Model to Use or Edit</small></h1>

        <button class="box" id="createModelBox">
            <span class="glyphicon-large glyphicon glyphicon-plus-sign"></span>
            <br />
            <span class="center dashBtn">Create New Model</span>
        </button>

        <button class="box">
            <span class="glyphicon-large glyphicon glyphicon-folder-open"></span>
            <br />
            <span class="center dashBtn">Models in Account</span>
        </button>

        <button class="box">
            <span class="glyphicon-large glyphicon glyphicon-cloud"></span>
            <br />
            <span class="center dashBtn">Pre-existing Models</span>
        </button>
    </div>

    <div id="right" class="col-sm-3 col-sm-push-1">
        <div class="content">
            <a href="/account" class="btn btn-primary btn-lg btn-block">Account Settings</a>
            <br />
            <h2 class="title">Getting Started</h2>
            <p><strong>Create New Model:</strong> This is where you will make all of your own models. You will need ~500 human graded papers evenly distributed over your grading label.</p>
            <p><strong>Models in Account:</strong> This will contain all the models that you have made.</p>
            <p><strong>Pre-existing Models:</strong> This has all of the Models that are provided for you.</p>
        </div>
    </div>
</script>