<script type="text/javascript">
/*
 REFRESH WARNING:
 */
//    window.onbeforeunload = function() {
//        return "WARNING: Reloading the page will restart the process and you will lose all of your data!";
//    };
var myCSV = "";
var documentsAdded = 0;
var numFields;
var fieldNames = [];
var selected = 0;

/***************ADD/SAVE FIELDS*****************/
//Sets the number of text fields for number of scorers. Runs when dropdown is selected.
function addFields(numToAdd) {
    numFields = numToAdd;
    var template1 = '<div class="fields">\n</div><input class="field form-control" id="field';
    var template2 = '" placeholder="Enter Field Name (Ex: Grade)">\n</div>\n';
    var temp = "<label>Fields</label>";
    for (var i = 1; i < numToAdd + 1; i++) {
        temp += template1 + i + template2;
    }
    document.getElementById("moreFields").innerHTML=temp;
    $("#saveFields").show();
}

//Runs when you hit save. Inserts the name of the fields into the fields.
function saveFields() {

    var prompt = $("#promptField").val();
    var model = $("#promptTitle").val();
    var subjectEssay = $("#corpusField").val();
    var tempbool = true;
    for (var i = 1; i <= numFields; i++) {
        if ($("#field" + i + "").val()== "") {
            tempbool = false;
        }
    }
    if ($("#promptField").val()=="") {
        window.alert("Please enter the prompt");
    }
    else if ($("#promptTitle").val()=="") {
        window.alert("Please enter the Model");
    }
    else if($("#corpusField").val()=="") {
        window.alert("Please enter the subject essay");
    }
    else if (tempbool == true) {
        for (var i = 1; i <= numFields; i++) {
            fieldNames.push($("#field" + i + "").val());
            myCSV += $("#field" + i + "").val() + ",";
        }
        var template1 = '<div class="input-group fields">\n<span class="input-group-addon">';
        var template2 = '</span>\n<input type="text" class="form-control" id="toScore';
        var template3 = '"placeholder="Enter ';
        var template4 = '">\n</div>\n';
        var temp = "<label>Scores</label>";
        for (var i = 1; i < numFields+ 1; i++) {
            temp += template1 + fieldNames[i-1] + template2 + i + template3 + fieldNames[i-1] + template4;
        }
        document.getElementById("promptSpace").innerHTML = "<strong>Your Prompt: </strong>" + prompt + "<br />";
        document.getElementById("promptSpace").innerHTML += "<strong>Your Model: </strong>" + model + "<br />";
        document.getElementById("promptSpace").innerHTML += "<strong>Your Subject Essay: </strong>" + subjectEssay;
        document.getElementById("fieldScores").innerHTML=temp;
        myCSV += "text\r\n"
        $("#fieldNames").hide();
        $("#workZone").show();

        //This will hide the first tutorial div and show the second tutorial div
        $("#firstT").hide();
        $("#secondT").show();
    } else {
        window.alert("Please fill all field names");
    }
}
/******************************************************/

/**************************DOWNLOADING***********************************/
//If no documents have been added, prompts user to add documents. Else it asks for confirmation of download, then runs the download method.
function exportToCSV() {
    if (documentsAdded == 0){
        window.alert("Please add some documents");
    }
    else if (confirm("Do you want to download the CSV?"))
    {
        download($("#fileTitle").val()+".csv", myCSV);
    }
}

//Uses "filesaver.js" and "blob.js" to export string and download.
function download(filename, text) {
    var blob = new Blob([myCSV], {type: "text/csv;charset=utf-8"});
    saveAs(blob, $("#fileTitle").val()+".csv");
}
/**********************************************************************/


/**********************ADDING********************************/
function add() {
    /***************************/
    if (emptyFields() == true) {                             //If any of the fields/text areas are empty, will alert the user.
        window.alert("Please fill all fields for the text");
    } else {                                                 //If all fields are populated will add the entry.
        for (var i = 1; i <= numFields; i++) {
            myCSV += $("#toScore" + i + "").val() + ",";
        }
        myCSV += "\"" + $("#text").val().replace(/"/g,"'") + "\"\r\n"; //Adds the string in the text area to myCSV string, replacing double quotes with single quotes.
        documentsAdded++;
        clearAllFields();
        document.getElementById("documentAmount").innerHTML = documentsAdded;
        doVisualization();

        /***************************/
        document.getElementById("pastDocs").innerHTML += "<div class='docBox' id ='docBox' >" + documentsAdded + "</div>"; //Adds boxes of past entries.

        $(".docBox").slideDown(130);
        $(".docBox").mouseover(function() { //Hover effect.
            if (parseInt($(this).text()) != selected) {
                docBoxColors(this, 'midnightblue', 'white', 'gray');
            }
        });
        $(".docBox").mouseout(function() { //Returns to normal color.
            if (parseInt($(this).text()) != selected) {
                docBoxColors(this, 'lightblue', 'black', 'gray');
            }
        });
        $(".docBox").click(function() { //Edits CSV document by clicking the specified docBox
            addingButtons();
            selected = (parseInt($(this).text()));
            deselect();
            docBoxColors(this, 'darkred', 'white', 'black');
            var counter = 1;
            for(var i = 0; i < myCSV.length; i++) {
                if (myCSV.charAt(i) == "\n") {
                    if (counter < (parseInt($(this).text()))) counter++;
                    else {
                        var index = i;
                        for (var j = 1; j <= numFields; j++) {
                            $("#toScore" + j + "").val(myCSV.substring(index, myCSV.indexOf(',', index + 1)));
                            index = myCSV.indexOf(',', index + 1) + 1;
                        }
                        /*Note that '"' is a double quotation in two single quotes, rather than the empty string*/
                        var text = myCSV.substring(myCSV.indexOf('"', i) + 1, myCSV.indexOf("\n", i + 1) - 2);
                        $("#text").val(text);
                        return;
                    }
                }
            }
        });
    }
}

//Returns true or false. False if all fields and text area have contents.
function emptyFields() {
    for (var i = 1; i <= numFields; i++) {
        if ($("#toScore" + i + "").val() == "") {
            return true;
        }
    }
    if ($("#text").val() == "") {
        return true;
    } else {
        return false;
    }
}

//Hides cancel, the third tutorial, and replace, shows submit, the second tutorial, and add
function editButtons() {
    $("#cancel").hide();
    $("#replace").hide();
    $("#submit").show();
    $("#add").show();
    $("#secondT").show();
    $("#thirdT").hide();
}
/****************************************************************************************/

//Changes the color of the docBox.
function docBoxColors(element, bgColor, color, bdColor) {
    $(element).css("background-color", bgColor);
    $(element).css("color", color);
    $(element).css("border-color",bdColor);
}

/******************************REPLACING/EDITING ESSAYS******************************************/
//Performs the replacing in myCSV. UGLY! But it works.
function replace() {
    editButtons();
    var counter = 1;
    for(var i = 0; i < myCSV.length; i++) {
        if (myCSV.charAt(i) == "\n") {
            if (counter < (selected)) counter++;
            else {
                var toReplace = "";
                for (var j = 1; j <= numFields; j++) {
                    toReplace += $("#toScore" + j + "").val() + ",";
                }
                toReplace += "\"" + $("#text").val().replace(/"/g,"'") + "\"\r\n";
                myCSV = replaceAt(myCSV, myCSV.indexOf('\n', i - 1) + 1, myCSV.indexOf("\n", i + 1), toReplace); //Finds the ith instance of a line break, then replaces starting at that line.

                selected = 0;
                clearAllFields();
                deselect();
                doVisualization();
                return;
            }
        }
    }
}

//  Much of this function was found here:
//  http://stackoverflow.com/questions/1431094/how-do-i-replace-a-character-at-a-particular-index-in-javascript
//Used in the replace function, takes in two indices of a string and replaces that range of the string with other given text
function replaceAt(str, start, end, text) {
    return str.substring(0, start) + text + str.substring(end + 1);
}

//Deselects all docBoxes
function deselect() {
    var boxes = document.getElementById('pastDocs').getElementsByTagName('*');

    for (var j = 0; j < boxes.length; j++) {
        var e = boxes[j];

        e.style.backgroundColor = 'lightblue';
        e.style.color = 'black';
        e.style.borderColor = 'gray';
    }
}

//Clears all text in text boxes in all field EXCEPT title
function clearAllFields() {
    for (var k = 1; k <= numFields; k++) {
        $("#toScore" + k + "").val("");
    }
    $("#text").val("");
}

//Runs cancel.
function cancelReplace() {
    deselect();
    editButtons();
    clearAllFields();
}

//Hides submit, the second tutorial, and add, shows cancel, third tutorial, and replace.
function addingButtons() {
    $("#add").hide();
    $("#submit").hide();
    $("#replace").show();
    $("#cancel").show();
    $("#secondT").hide();
    $("#thirdT").show();
}
/*******************************************************************************/

/*******************************EDIT PROMPT/MODEL/SUBJECT ESSAY********************************************/
//Brings up a text field to edit the prompt, model, and subject
function editPromptFields() {
    $('#editPrompt').slideUp();
    $('#savePrompt').slideDown();
    document.getElementById("promptSpace").innerHTML= "<label>New Prompt: </label>\n<input class='form-control' id='promptField2' name='promptField2' placeholder='Enter the Prompt for the Writing Submissions'> <br />";
    document.getElementById("promptSpace").innerHTML += "<label>New Model: </label>\n<input class='form-control' id='promptTitle2' name='promptTitle2' placeholder='Enter the Model for the Writing Submissions'> <br />";
    document.getElementById("promptSpace").innerHTML += "<label>New Subject Essay: </label>\n<input class='form-control' id='fieldCorpus2' name='fieldCorpus2' placeholder='Enter the Subject Essay for the Writing Submissions'>";
}

//Saves the prompt model and subject entered into the text field
function savePrompt() {
    prompt = $("#promptField2").val();
    model = $("#promptTitle2").val();
    subjectEssay = $("#fieldCorpus2").val();
    $("#editPrompt").slideDown();
    $("#savePrompt").slideUp();
    document.getElementById("promptSpace").innerHTML= "<strong>Your Prompt: </strong>" + prompt + "<br />";
    document.getElementById("promptSpace").innerHTML += "<strong>Your Model: </strong>" + model + "<br />";
    document.getElementById("promptSpace").innerHTML += "<strong>Your Subject Essay: </strong>" + subjectEssay;
}
/**********************************************************************************************************/
//Clears all global variables, shows/hides divs to get to start, clears divs that may have stored any information.
function reset() {
    if (confirm("Are you sure you want to reset?")) {
        editButtons();
        myCSV = "";
        documentsAdded = 0;
        document.getElementById("documentAmount").innerHTML = documentsAdded;
        document.getElementById("visField1").innerHTML = "";
        document.getElementById("visField2").innerHTML = "";
        document.getElementById("visField3").innerHTML = "";
        document.getElementById("visField4").innerHTML = "";
        document.getElementById("visField5").innerHTML = "";
        numFields = 0;
        fieldNames = [];
        selected = 0;
        $("#text").val("");
        $("#fileTitle").val("");
        $("#promptField").val("");
        $("#promptTitle").val("");
        $("#corpusField").val("");
        document.getElementById("pastDocs").innerHTML = "";
        document.getElementById("moreFields").innerHTML = "";
        document.getElementById("fieldScores").innerHTML = "";
        $("#moreFields").show();
        $("#saveFields").hide();
        $("#workZone").hide();
        $("#fieldNames").show();
        $("#visHeader").hide();
        $("#firstT").show();
        $("#secondT").hide();
        $("#thirdT").hide();
    }
}

//Hides the things that need to be hidden at the beginning.
$(document).ready(function() {
    $("#saveFields").hide();
    $("#workZone").hide();
    $("#replace").hide();
    $("#cancel").hide();
    $("#savePrompt").hide();
    $("#visHeader").hide();
    $("#secondT").hide();
    $("#thirdT").hide();

    $("#submit").click(function() {
        exportToCSV();
    });

    $("#add").click(function() {
        add();
    });

    $("#reset").click(function() {
        reset();
    });

    $("#saveFields").click(function() {
        saveFields();
    });

    $("#replace").click(function() {
        replace();
    });

    $("#cancel").click(function() {
        cancelReplace();
    });

    $("#editPrompt").click(function() {
        editPromptFields();
    });

    $("#savePrompt").click(function() {
        savePrompt();
    });
});
</script>