<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/underscore/underscore.js"></script>
<script type="text/javascript" src="/backbone/backbone.js"></script>
<script type="text/javascript" src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc13.min.js"></script>

<!--public/js/models-->
<script type="text/javascript" src="/js/models/superPost.js"></script>
<script type="text/javascript" src="/js/models/postPaths.js"></script>
<script type="text/javascript" src="/js/models/user.js"></script>
<script type="text/javascript" src="/js/models/changePassword.js"></script>

<!-- other -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/blob/Blob.js"></script>
<script type="text/javascript" src="/FileSaver/FileSaver.js"></script>
<script type="text/javascript" src="/js/CSVParser.js"></script>
<script type="text/javascript" src="/canvasjs/canvasjs.min.js"></script>
<script type="text/javascript" src="/zipJs/zip.js">
    zip.workerScriptsPath = "/public/zipJs";
</script>

<!--public/js/views-->
<script type="text/javascript" src="/js/views/modelView.js"></script>
<script type="text/javascript" src="/js/views/logInView.js"></script>
<script type="text/javascript" src="/js/views/newUserView.js"></script>
<script type="text/javascript" src="/js/views/accountView.js"></script>
<script type="text/javascript" src="/js/views/welcomeView.js"></script>
<script type="text/javascript" src="/js/views/dashView.js"></script>
<script type="text/javascript" src="/js/views/CSVView.js"></script>
<script src="/js/views/uploadCSVView.js"></script>
<script src="/js/views/uploadZipView.js"></script>

