<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/underscore/underscore.js"></script>
<script src="/backbone/backbone.js"></script>

<!--public/js/models-->
<script src="/js/models/superPost.js"></script>
<script src="/js/models/postPaths.js"></script>

<!--public/js/views-->
<script src="/js/views/modelView.js"></script>

<script src="/js/views/welcomeView.js"></script>
<script src="/js/views/CSVView.js"></script>
<script src="/js/views/resultsView.js"></script>
<script src="/js/app.js"></script>
