<div>
         <p id="refreshWarning" class="alert alert-danger center">
        Warning: If you leave or refresh this page, all entered text will be deleted.
         </p>

        <div id="welcomeTut">
            <p>To get started, complete basic info about your essay.</p>
            <p>Next, choose an upload format based on the content.</p>
        </div>

        <p id="whatIsCSV"><strong>What is a CSV?</strong> A CSV document, or a comma separated values document, is similar to a spreadsheet but uses commas to separate columns of data.This format allows the program we use to easily take in data.
        </p>

        <p id="fieldTut" class="hiding">Select the amount of grading criteria you are grading on and enter them into the fields (Ex: Grammar, Voice, Ideas).
        </p>


        <p id="docTut" class="hiding">You can click any of the numbered boxes under the Text box to edit the text or grade of the essay you select, as well as delete an essay.
        </p>

        <p id="textTut" class="hiding">When you are completely done with add essays, you can download your CSV file by selecting "Download CSV."
        </p>


        <div id="editDocs" class="hiding">
            <p>You can change the scores and the document in the text box.</p>
            <p>Once you are done, select the "Replace" button to save the changes to your grades and text.</p>
            <p>If you choose not to change the document upon editing, you can click "Cancel" to cancel the editing.</p>
            <p>If you wish to delete the selected essay, select the document number box and click the "Delete" button.</p>
        </div>
</div>

