<div type="text/html">
    <p style="text-align: center;" class="bg-danger">Warning: If you refresh the page, all entered text will be deleted.</p>


        <div id="welcomeTut">
            <li>To get started, complete basic info about your essay.</li>
            <li>Choose an upload format based on the content.</li>
        </div>

        <div id="makeTut"><p>Select the amount of grading criteria you grading on and input the scores for each field (Ex: A-F).</p>
        <p>Enter or paste the essay into the text box. Selecting "Add" will amend that essay to your CSV document.</p>
        <p>You can click any of the numbered boxes under the Text box to edit the text or grade of the essay you select.</p>
        </div>

        <div id="editing">
            <li>Edit the Text and Graded Criteria boxes.</li>
            <li>Once you are done adding all of your documents to your CSV document, then you can click the "Download CSV"
                    button to download your CSV document.</li>
            <li>If you wish to start over, you can click the "Reset" button to erase everything.</li>
        </div>

        <div id="thirdT">
                <li>You can change the scores and the document in the text box.  Once you are done, you can hit the "Replace" button that will appear upon editing to change what you have edited and save it.  If you choose not to change the document
                    upon editing, you can click "Cancel" to cancel the editing.</li>
        </div>
</div>