<div type="text/html">
    <p style="text-align: center;" class="alert alert-danger">Warning: If you leave or refresh this page, all entered text will be deleted.</p>


        <div id="welcomeTut">
            <p class="center">To get started, complete basic info about your essay.</p>
            <p class="center">Choose an upload format based on the content.</p>
        </div>

        <div id="fieldTut">
            <p class="center">Select the amount of grading criteria you grading on and input the scores for each field (Ex: A-F).</p>
        </div>

        <div id="textTut">
            <p class="center">Enter the scores for the grading criteria.</p>
            <p class="center">Enter or paste the essay into the text box.</p>
            <p class="center">You can add essays into the CSV file by clicking the "Add" button.</p>
            <p class="center">You can click any of the numbered boxes under the Text box to edit the text or grade of the essay you select.</p>
            <p class="center">When you are completely done with add essays, you can download your CSV file by selecting "Download CSV."</p>
            <p class="center">If you wish to start over, you can click the "Reset" button to erase everything.</p>
        </div>

        <div id="editDocs">
            <p class="center">You can change the scores and the document in the text box.</p>
            <p class="center">Once you are done, select the "Replace" button to save the changes to your grades and text.</p>
            <p class="center">If you choose not to change the document upon editing, you can click "Cancel" to cancel the editing.</p>
        </div>
</div>