<script id="uploadCSV" type='text/html'>
        <label for="fileInput" value="Submit your csv: ">Submit your csv: </label>
        <input type="file" id="fileInput">
        <!--<label for="fields">Number of Fields: </label>-->
        <!--<input type="text" id="fields">-->
        <button type="button" class="submitCSV1 btn btn-success" id="submitCSV1"  value="Submit">Submit</button>
        <div class="col-md-5" id="visualization">
            <h2>Visualization of Your Data</h2>
            <h4 id="visHeader">Occurrences of each entry for each field</h4>
            <div id="visFields" class="visualization">


            </div>
            <!--<div id="visField1" class="visualization"></div>-->
            <!--<div id="visField2" class="visualization"></div>-->
            <!--<div id="visField3" class="visualization"></div>-->
            <!--<div id="visField4" class="visualization"></div>-->
            <!--<div id="visField5" class="visualization"></div>-->
        </div>
</script>