<div class="col-md-6 col-md-offset-2" id="visualization">
    <div id="visField1" class="visualization"></div>
    <div id="visField2" class="visualization"></div>
    <div id="visField3" class="visualization"></div>
    <div id="visField4" class="visualization"></div>
    <div id="visField5" class="visualization"></div>
</div>
<script>
    function doVisualization(){
        var parser = new  CSVParser(myCSV);
        var CSVArray = parser.array();
        getFields(CSVArray);

    }

    //sets arrayOfArrays to be an array of each field (including the field name at the first index of each sub-array!)
    function getFields (CSVArray) {
        var arrayOfArrays = new Array();
        for (var i = 0; i < numFields; i++) {
            arrayOfArrays[i] = new Array();
            for (var j = 0; j < CSVArray.length; j++) {
                arrayOfArrays[i][j] = CSVArray[j][i];
            }
        }
        countGrades(arrayOfArrays);
    }

    function countGrades (arrayOfArrays){
        var arrayOfDict = new Array();
        for (var i = 0; i < numFields; i++){
            arrayOfDict.push(generateMap(arrayOfArrays[i]));
            createData(i, arrayOfDict);
        }
    }

    //fieldNum is the index that a field is on
    function createData(fieldNum, arrayOfDict){
        var tempValue;
        var tempKey;
        var divID = "visField" + (fieldNum + 1);
        var title = fieldNames[fieldNum];
        var dataPointsTemplate = new Array();
        for(var i = 0; i < arrayOfDict[fieldNum].keys.length; i++) {
            tempValue = arrayOfDict[fieldNum].values[i];
            tempKey = (arrayOfDict[fieldNum].keys[i]).toString();
            console.log(tempValue);
            console.log(tempKey);
            dataPointsTemplate.push({y: tempValue, indexLabel: tempKey});
        }
        var dataTemplate = [
            {
                type:"doughnut",
                dataPoints:dataPointsTemplate
            }
        ];
        console.log(dataTemplate);
        var chart = new CanvasJS.Chart(divID,
            {
                title:{
                    text: title
                },
                data:dataTemplate
            });
        chart.render();
    }

    function Dictionary(){
        this.keys = [];
        this.values = [];

        this.add = function(entry) {
            var index = this.keys.indexOf(entry);
            if (-1 == index){
                this.keys.push(entry);
                this.values.push(1);
                this.length == (this.length + 1);
            }
            else{
                this.values[index] = (this.values[index] + 1);
            }
        };

        this.getValue = function(key) {
            var index = this.keys.indexOf(key);
            return this.values[index];
        };
    }

    function generateMap (arrayOfStrings) {
        var map = new Dictionary();
        for (var i = 1; i < arrayOfStrings.length; i++) {
            var entry = arrayOfStrings[i];
            map.add(entry)
        }
        return map
    }
</script>