body {
  padding: 50px;
  font: 14px "Francois One", "Lucida Grande", Helvetica, Arial, sans-serif;

}

h2{
    text-align: center;
}
p{
    font: "Alegreya Sans","Bookman", Georgia, "Times New Roman", serif;
    font-size: larger;
}

.page-header{
    font: Helvetica, Arial, sans-serif;
    font-size: 50px;
}

#essayContents {
    width: 100%;
    min-height: 200px;
}

#essayChoose{
    text-align: left;
}

#sandbox, .page-header{
    text-align: center;
    padding: 15px;
    background-color: #FFEABA;
    border-radius: 10px;
}

#sandboxResults{
    display: none;
    padding: 15px;
    background-color: #FFE099;
    border-radius: 10px;
}

#signIn {
    padding: 20px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    min-width: 200px;
}