body {
    padding: 50px;
    font-family: "Francois One", "Lucida Grande", Helvetica, Arial, Sans-serif;
}

h2{
    text-align: center;
}
p{
    font-family: "Bookman", serif;
    font-size: larger;
}

.page-header{
    font: Helvetica, Arial, sans-serif;
    font-size: 50px;
}

#essayContents {
    width: 100%;
    min-height: 200px;
}

#sandbox, .page-header{
    text-align: center;
    padding: 15px;
    background-color: #FFEABA;
    border-radius: 10px;
}

#sandboxResults{
    display: none;
    padding: 15px;
    background-color: #FFE099;
    border-radius: 10px;
}

#waitingForModel{
    text-align: center;
    display: none;
    padding: 15px;
    background-color: #FFE099;
    border-radius: 10px;
}

#signIn {
    padding: 20px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    min-width: 200px;
}

.fields {
    padding-bottom: 5px;
}

#reset {
    float: right;
}

.docBox {
    border-radius: 5px;
    font-family:"Sans-serif", Arial, sans-serif;
    font-size:1.15em;
    color:black;
    text-align:center;
    display: none;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: gray;
    width:30px ;
    height:30px;
    line-height:25px;
    background-color: lightblue;
}

.visualization {
    height: 250px;
}

.navbar .container-fluid {
    background-color: lightgray;
}